.login_container {
  width: 100%;
  height: 100vh;
  background-color: var(--blue-color);
}

.card {
  width: 400px;
  height: auto;
  border: none !important;
  border-radius: 14px !important;
}

.card_body {
  padding: 70px 50px !important;
}

.login_input {
  border: 1px solid #e0dede;
  border-radius: 9px;
}

.login_input input {
  font-size: 14px !important;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .card_body {
    padding: 50px 30px !important;
  }
  
}