
.page {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.content {
  width: calc(100% - 50px);
  margin-left: auto;
  padding: 15px;
  height: 100%;
  word-break: break-word;
}

.sidebar_header {
  z-index: 5;
  height: 70px;
  border-bottom: 1px solid var(--gray-color);
}

.sidebar {
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: var(--white-color);
  transition: width 0.3s ease;
  border-right: 1px solid var(--gray-color);
}

.sidebar a span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__open {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar_position {
  font-size: 14px !important;
  text-decoration: none !important;
  margin: 0px !important;
  padding: 10px 00px;
}

.sidebar_position_active {
  background-color: #ebf1fe;
  color: var(--blue-color) !important;
}

.sidebar_position_inactive {
  /* background-color: #ebf1fe; */
  color: var(--black-color) !important;
}

.sidebar__open .sidebar_position_inactive:hover {
  background-color: #f7f7f7;
}

.sidebar__open .sidebar_position span {
  display: block;
  width: 100%;
  height: auto;
  font-size: 13px;
  font-weight: 600;
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar .icon {
  font-size: 16px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidebar__open .icon {
  font-size: 14px;
  padding-left: 20px;
}
